<ul class="nav nav-tabs align-items-center">
    <li class="nav-item col ">
        <a class ="nav-link d-flex justify-content-center" href ="{{path ('app_forum')}}"><img class="scale-down" src="{{ asset ('img/logo.png') }}" alt="Image du logo du site venant de https://linterteatime.tumblr.com/post/707135538534268928/silly-little-strawberry-with-wings"><span class ="">Forum Du Pic</span></a>
    </li>
    <li class="nav-item col">
        <a class="nav-link  d-flex justify-content-center " href="{{path ('app_about')}}">A Propos de la Montagne</a>
    </li>
    <li class="nav-item col">
        <a class="nav-link  d-flex justify-content-center " href="{{path ('app_login')}}">Se Connecter</a>
    </li>
    <li class="nav-item col">
        <a class="nav-link  d-flex justify-content-center " href="{{path ('app_logout')}}">Se Déconnecter</a>
    </li>
</ul>   