{% extends 'base.html.twig' %}

{% block body %}
    <h1 class = "text-color d-flex justify-content-center">Topic</h1>

    <div class="card-body py-5 col-4 card-border my-2 d-flex justify-content center flex-column">
        <h2 class="card-title text-color d-flex justify-content-center my-3 ">{{topic.title}}</h2>
        <div>
            <p class="card-text d-flex justify-content-center">{{topic.description}}</p>
            <div class="d-flex justify-content-center  flex-column">
                {% if topic.modificationDate %}
                    <p class = "center">Dernière modification le :{{topic.modificationDate ? topic.modificationDate|date('d-m-Y') : ''}}</p>
                {% else %}
                    <p class= "center"> Créé le {{topic.creationDate ? topic.creationDate|date('d-m-Y') : ''}}</p>
                {% endif %}
                <p class = "center"> Créé par {{topic.user.pseudo}}</p>
            </div>
        </div>
    </div>

    
    {% if app.user and app.user == topic.user %}
        <a class =' btn button my-2 font' href="{{ path('app_topic_edit', {'id': topic.id}) }}">Modifier</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN')  or app.user == topic.user %}
        {{ include('topic/_delete_form.html.twig') }}
    {% endif %}
    <a class = 'btn button d-flex justify-self-start my-2 font' href="{{ path('app_topic_index') }}">Retour</a>

    <h2 class ="text-color d-flex justify-content-center">Commentaires :</h2>
    {% if app.user %}
        <a href="{{ path('app_comment_new', {'topicId': topic.id}) }}" class="btn button font">Ajouter un commentaire</a>
    {% endif %}
    
        {% for comment in topic.comments %}
        <div class = "card-body col-8 my-2 d-flex justify-content-center">
            <p class = "card-text d-flex justify-content-center align"> De {{comment.user.pseudo}} :</p>
            <p class = "card-text d-flex justify-content-center">{{ comment.message }}<p>
            {% if app.user and app.user == comment.user or is_granted('ROLE_ADMIN') %}
                {{ include('comment/_delete_form.html.twig') }}
            {% endif %}
        </div>
        {% endfor %}
{% endblock %}
